/* src/CropList.css */

.crop-list-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Styles for images */
td img {
  max-width: 100px; /* Adjust the maximum width of the image */
  max-height: 100px; /* Adjust the maximum height of the image */
  display: block; /* Ensures images are displayed as blocks */
  margin: auto; /* Centers the images within their cells */
}
